@if(story) {
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-2 align-items-center">
            <div class="col">
                <div class="vstack gap-4">
                    @if(story.benefitedImage) {
                        <app-image-circle [image]="story.benefitedImage" [width]="150" [height]="150" />
                    }
                    <h1>Dados do Beneficiado</h1>
                    <form [formGroup]="storyForm" class="vstack gap-4">
                        <app-form-input formControlName="name" title="Nome" type="text"
                            placeholder="Adicone seu nome..." [value]="storyForm.value['name']" />
                        <app-form-input formControlName="city" title="Cidade" type="text"
                            placeholder="Adicone sua cidade..." [value]="storyForm.value['city']" />
                        <app-form-input formControlName="contact" title="Contato" type="text"
                            placeholder="Adicone seu contato..." [value]="storyForm.value['contact']" />
                        <app-form-text-area ngDefaultControl formControlName="story" title="História"
                            placeholder="Conte sua história..." [value]="storyForm.value['story']" />
                        <app-form-text-area ngDefaultControl formControlName="howToHelp" title="Como ajudar?"
                            placeholder="Diga como pode ser ajudado.." [value]="storyForm.value['howToHelp']" />
                    </form>
                </div>
            </div>
            <div class="col py-4 py-lg-0">
                <app-image-grid [images]="story.images" />
            </div>
        </div>
    </div>
} 
@else if (isLoading) {
    <div class="one-line">
        <h1>Carregando...</h1>
    </div>
} 
@else {
    <div class="one-line">
        <h1>Erro ao carregar a história</h1>
    </div>
}
