.card-container
{
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFDED;
}

.card-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* red-FA7070 yellow-FEFDED light-green-C6EBC5 green-A1C398 */